APP_NAME=HTCGSC-GORMS
APP_ENV=local
APP_KEY=
APP_PREVIOUS_KEYS=
APP_MAINTENANCE_STORE=file
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_TIMEZONE=Asia/Manila
APP_MAINTENANCE_DRIVER=file

COMPOSER_PROCESS_TIMEOUT=600
DEBUGBAR_ENABLED=true

QUERY_DETECTOR_ENABLED=true
QUERY_DETECTOR_THRESHOLD=1
QUERY_DETECTOR_LOG_CHANNEL=daily

LOG_CHANNEL=daily
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_VIEWER_CACHE_DRIVER=file

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=root
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CHROME_PATH=
NODE_BINARY=
NPM_BINARY=

GOOGLE_FORM_ID=
GOOGLE_FORM_ID_EDIT=

CRON_KEY=
HOLIDAY_CLIENT_API_KEY=

TEXTBEE_BASE_URL="https://api.textbee.dev/api/v1"
TEXTBEE_DEVICE_ID=
TEXTBEE_API_KEY=
